@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInputInput:focus {
    outline: none;
}
/* 
.submission-table tbody {
    display: block;

}
.submission-table thead, .submission-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */