@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInputInput:focus {
    outline: none;
}

/* table tbody tr:hover {
    background-color: aquamarine;
} */
/* 
.submission-table tbody {
    display: block;

}
.submission-table thead, .submission-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */